.coin-price-card {
  display: flex;
  flex-direction: row;
    width: 220px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .coin-price-card h3 {
    margin-top: 0;
  }
  
  .coin-price-card p {
    margin: 5px 0;
  }
  
  .coin-price-card p strong {
    font-weight: bold;
  }
  
  .chart{
    height: 120px;
    width: 120px;
    padding: 15px;
  }

 
  